<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>MangaZodiac Uploader V1.1</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />
    <style>
      #uploadForm {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
      }
      input.btn {
        flex: 0.8;
      }
      button.btn {
        flex: 0.15;
      }
      textarea.input-text {
        height: 400px;
        width: 100%;
        word-wrap: break-word;
        word-break: break-word;
      }
      input.text-alt {
        width: 100%;
      }
	.bg-light {
	  background-color: #f8f9fa;	  
	  margin-bottom: 1.5rem;
	}
	.h3, h3 {
	  font-size: 1.75rem;
	}
	.form-group {
	  margin-bottom: 1rem;
	}
	label {
	  display: block;
	  margin-bottom: .5rem;
	}
	.form-input {
	  display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	.input-image {
	  color: #292b2c;
	  background-color: transparent;
	  border-color: #ced4da;
	}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-light">
	<div class="container">
	  <a class="navbar-brand" href="./00e4e5bff7ee061d18da39ca57536c8a.php">Manga Uploader</a>
	    <ul class="navbar-nav navbar-right">
		<li class="nav-item"> <a class="nav-link" href="https://mangazodiac.com/" target="_blank" rel="noopener">MangaZodiac</a> </li>
	    </ul>
	</div>
    </nav>
    <div class="container" style="height: 100vh">
      <h3>Nhập thông tin</h3>
	  <div class="form-group">
		<label for="text-alt">Tên truyện</label>
		<input type="alt" class="input-alt form-input" name="text-alt" />
	  </div>
	  <div class="form-group">
	  <label>Chọn hình ảnh</label>
      <form
        action="/upload"
        method="post"
        enctype="multipart/form-data"
        id="form"
      >
        <input
          type="file"
          name="files"
          class="btn btn-primary input-image"
          id="files"
          multiple
        />
        <button
          class="btn btn-primary"
          type="submit"
          style="border-radius: 4px; padding: 10px;"
        >
          Upload
        </button>
        <br />
      </form>
	  </div>
      <label for="text">HTML</label>
      <textarea
        rows="5"
        cols="60"
        type="text"
        class="input-text form-input"
        name="text"
        id="html-text"
      >
      </textarea
      ><br />
    </div>
    <script type="text/javascript">
      document.getElementById('files').value = '';
      let form = document.getElementById('form');

      form.addEventListener('submit', (event) => {
        event.preventDefault();
        let HTML = document.getElementById('html-text');
        let text = document.querySelector('.input-alt').value;
        var totalfiles = document.getElementById('files').files.length;

        // actual logic, e.g. validate the form
        if (totalfiles.length === 0) {
          alert('Chưa chọn ảnh');
          return;
        }
        if (text.length === 0) {
          alert('Chưa nhập tên truyện');
          return;
        }

        const formData = new FormData();
        let images = [];
        for (var index = 0; index < totalfiles; index++) {
          formData.append(
            'files',
            document.getElementById('files').files[index]
          );
        }

        // post form data
        let env_host = '<%= process.env.RENDER_EXTERNAL_HOSTNAME%>';
        fetch(`/upload`, {
          method: 'POST',
          body: formData,
        })
          .then((response) => response.json())
          .then((result) => {
            let HTMLcontent = '';
            if (result === 'err') {
              HTML.value = 'LỖI VUI LÒNG THỬ LẠI';
              return;
            }
            for (item of result) {
              let imageHTML = `<img src="${item}" alt="${text}"/>`;
              HTMLcontent += imageHTML;
            }
            HTML.value = HTMLcontent;
          })
          .catch((error) => {
            HTML.value = error;
            return;
          });
        document.getElementById('files').value = '';
        document.querySelector('.input-alt').value = '';
      });
    </script>
  </body>
  <footer>
    <nav class="navbar navbar-toggleable-md navbar-light" style="background-color: #f8f9fa;">
	<div class="container">
	    <ul class="navbar-nav navbar-right">
		<li class="nav-item"> <a class="nav-link" href="https://mangazodiac.com/" target="_blank" rel="noopener">© 2023 Manga Uploader - MangaZodiac</a> </li>
	    </ul>
	</div>
    </nav>
  </footer>
</html>
