<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Node.js Simple File Upload</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    />
    <style>
      #uploadForm {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
      }
      input.btn {
        flex: 0.8;
      }
      button.btn {
        flex: 0.15;
      }
      input.input-text {
        height: 200px;
        width: 100%;
      }
      input.text-alt {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Nhập thông tin</h1>
      <label for="text-alt">Tên truyện</label>
      <input type="alt" class="input-alt" name="text-alt" />
      <form
        action="/upload"
        method="post"
        enctype="multipart/form-data"
        id="form"
      >
        <input
          type="file"
          name="files"
          class="btn btn-primary"
          id="files"
          multiple
        />
        <button
          class="btn btn-primary"
          type="submit"
          style="border-radius: 4px"
        >
          Upload
        </button>
        <br />
      </form>
      <label for="text">HTML</label>
      <input type="text" class="input-text" name="text" id="html-text" />
    </div>
    <script type="text/javascript">
      document.getElementById('files').value = '';
      let form = document.getElementById('form');

      form.addEventListener('submit', (event) => {
        event.preventDefault();
        let HTML = document.getElementById('html-text');
        let text = document.querySelector('.input-alt').value;
        var totalfiles = document.getElementById('files').files.length;

        // actual logic, e.g. validate the form
        if (totalfiles.length === 0) {
          alert('Chưa chọn ảnh');
          return;
        }
        if (text.length === 0) {
          alert('Chưa nhập tên truyện');
          return;
        }

        const formData = new FormData();
        let images = [];
        for (var index = 0; index < totalfiles; index++) {
          formData.append(
            'files',
            document.getElementById('files').files[index]
          );
        }

        // post form data
        fetch('http://localhost:3000/upload', {
          method: 'POST',
          body: formData,
        })
          .then((response) => response.json())
          .then((result) => {
            let HTMLcontent = '';
            if (result === 'err') {
              HTML.value = 'CÓ LỖI XẢY RA';
              return;
            }
            for (item of result) {
              let imageHTML = `<img src="${item}" alt="${text}"/>`;
              HTMLcontent += imageHTML;
            }
            HTML.value = HTMLcontent;
          })
          .catch((error) => {
            HTML.value = error;
            return;
          });
        document.getElementById('files').value = '';
        document.querySelector('.input-alt').value = '';
      });
    </script>
  </body>
</html>
